.heebo {
	font-family: "Heebo";
}

.khula {
	font-family: "khula";
}

.ostrich-sans {
	font-family: "Ostrich Sans";
	font-weight: bolder;
}

.bebas-neue {
	font-family: "Bebas Neue";
}

.metropolis {
	font-family: "Metropolis";
	font-weight: lighter;
}

.overpass {
	font-family: "Overpass";
}